</div><!-- /.container -->
<br><br><br>
<hr>


  <footer class="bg-col">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase mb-4 text-warning">About company</h5>

          <p style="color: #cff;">
            ShopBuzz is s an Indian multinational technology company which focuses on e-commerce.
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px;" >git cards</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #cff;">frequently asked questions</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #cff;">delivery and payment</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #cff;">activate the card</a>
            </li>
            <li>
              <a href="#!" style="color: #cff;">rules</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #fff;">company</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #cff;">buy a gift card</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #cff;">history</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #cff;">return</a>
            </li>
            <li>
              <a href="#!" style="color: #cff;">contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #fff;">diamond club</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #cff;">registration</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #cff;">application</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #cff;">about program</a>
            </li>
            <li>
              <a href="#!" style="color: #cff;">rules</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a href="/" style="color: #cff;">ShopBuzz.com All rights reserved</a>
    </div>
    <!-- Copyright -->
  </footer>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
      <script src="/js/main.js"></script>
  </body>
</html>

