<%- include('_layouts/header.ejs'); %>
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner outer-frame wow text-white zoomIn" data-wow-iteration="1" data-wow-delay="0.4s" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Shopbuzz</h4>
                            <span>Get the latest products here cheaply</span>
                            <div class="main-border-button">
                                <a href="/products">Shop Now!</a>
                            </div>
                        </div>
                        <img src="/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Electronics</h4>
                                        <span>Best electronics gadgets</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Electronics</h4>
                                            <p>Browse through a range of high-quality electronic items.</p>
                                            <div class="main-border-button">
                                                <a href="/products/electronics/">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/images/electronics.avif" width="247.5px" height="212.14px">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2016/11/29/08/41/apple-1868496__480.jpg" width="380px"> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Clothes</h4>
                                        <span>Best Clothes For Men & Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>Choose from top brands for formals, casuals & more.</p>
                                            <div class="main-border-button">
                                                <a href="/products/clothes/">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Sports</h4>
                                        <span>Best sports kit of all brands</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Sports</h4>
                                            <p>Explore variety of Cricket, Football, Gymming Equipments & More.</p>
                                            <div class="main-border-button">
                                                <a href="/products/sports/">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/images/sports.avif" width="247.5px" height="212.14px">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessories</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <p>Explore vast selection of Accessories from Top Brands.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products</h2>
                    <span>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. ShopBuzz houses everything you can possibly imagine, from trending electronics, grocery, fashion staples, lifestyle accessories, modern furniture, toys, musical instruments, we got them all covered. </span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Don’t find customers for your products, find products for your customers.</p>
                    </div>
                    <p>What's more, with our year-round shopping festivals and events, our prices are irresistible. We're sure you'll find yourself picking up more than what you had in mind. If you are wondering why you should shop from ShopBuzz when there are multiple options available to you, well, the below will answer your question.</p>
                    <p>In an attempt to make high-end products accessible to all, our No Cost EMI plan enables you to shop with us under EMI, without shelling out any processing fee.</p>
                    <div class="main-border-button">
                        <a href="/products">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Watches</h4>
                                <span>Latest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="/images/explore-image-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="/images/explore-image-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Types</h4>
                                <span>Over 304 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Brands</h2>
                        <!-- <span>Top brands whi</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="https://in.puma.com/">
                                <h6>Puma</h6>
                                <i class="fa-solid fa-shoe-prints"></i>
                            </a>
                        </div>
                        <img src="/images/puma.png" class="brand-logo" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="https://www.apple.com/in/">
                                <h6>Apple</h6>
                                <i class="fa fa-apple"></i>
                            </a>
                        </div>
                        <img src="images/apple.png" class="brand-logo"  alt="">
                        <!-- <i class="fa-brands fa-apple fa-2xl"></i> -->
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="https://www.nike.com/in/">
                                <h6>Nike</h6>
                                <i class="fa-solid fa-shoe-prints"></i>
                            </a>
                        </div>
                        <img src="/images/nike.png" class="brand-logo" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="https://www.nestle.in/">
                                <h6>Nestle</h6>
                                <i class="fa-solid fa-mug-hot"></i>
                            </a>
                        </div>
                        <img src="/images/nestle.jpg" class="brand-logo" alt="">
                    </div>
                </div>

                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="https://www.asus.com/in/">
                                <h6>Asus</h6>
                                <i class="fa-solid fa-computer"></i>
                            </a>
                        </div>
                        <img src="/images/asus.jpg" class="brand-logo" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="https://www.hp.com/in-en/">
                                <h6>HP</h6>
                                <i class="fa-solid fa-computer"></i>
                            </a>
                        </div>
                        <img src="/images/hp.jpeg" class="brand-logo" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <!-- <img src="assets/images/white-logo.png" alt="hexashop ecommerce templatemo"> -->
                        <h3 class="text-warning">ShopBuzz</h3>
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">hexashop@company.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                    
                    <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- ***** Footer ends ***** -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<script>
    if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))){

        // Animations init
    new WOW().init();
    };
</script>  



<!-- <script>
//Animations init
    wow = new WOW({
        boxClass: 'wow', // default
        animateClass: 'animated', // default
        offset: 0, // default
        mobile: true, // default
        live: true // default
    })
    wow.init();
    </script> -->

<%- include('_layouts/footer.ejs'); %>


